*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
body {
  line-height: 1.5;
  // font-family: 'IBM Plex Sans', sans-serif;
  font-family: Arial, Helvetica, sans-serif;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  outline: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}


.tooltip {
  position: relative;
  cursor: pointer;
  display: inline-block;
}
.tooltip .tooltip-text {
  position: absolute;
  z-index: 10;
  visibility: hidden;
  border: none;
  border-radius: 5px;
  padding: 7px;
  word-wrap: break-word;
  text-align: center;
}
.tooltip .tooltip-text.black {
  background-color: black;
  color: white;
  --tooltip-arrow-color: black;
}
.tooltip .tooltip-text.blue {
  background-color: #7688d4;
  color: white;
  --tooltip-arrow-color: #7688d4;
}
.tooltip .tooltip-text.top {
  width: fit-content;
  bottom: 150%;
  margin-left: -75%;
}
.tooltip .tooltip-text.bottom {
  width: fit-content;
  top: 150%;
  margin-left: -75%;
}
.tooltip .tooltip-text.left {
  top: -5px;
  right: 110%;
}
.tooltip .tooltip-text.right {
  max-width: 500px;
  top: -5px;
  left: 110%;
}
.tooltip .tooltip-text.top::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--tooltip-arrow-color) transparent transparent transparent;
}
.tooltip .tooltip-text.bottom::after {
  content: " ";
  position: absolute;
  bottom: 100%;
  /* At the top of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent var(--tooltip-arrow-color) transparent;
}
.tooltip .tooltip-text.left::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 100%;
  /* To the right of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent var(--tooltip-arrow-color);
}
.tooltip .tooltip-text.right::after {
  content: " ";
  position: absolute;
  top: 30%;
  right: 100%;
  /* To the left of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent var(--tooltip-arrow-color) transparent transparent;
}
.tooltip:hover .tooltip-text {
  visibility: visible;
  animation-name: openTooltip;
  animation-duration: 250ms;
  animation-fill-mode: linear;
}

@keyframes openTooltip {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.icon-question {
  color: #b9bbbe;
  margin-right: 10px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #2e3338; 
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #202225;
  border-radius: 10px; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #202225; 
}

// Dropdown menu
.dropdown {
  width: 30%;
  position: relative;
}

.dropdown:hover .dropdown-list {
  opacity: 1;
  visibility: visible;
}

.dropdown-select {
  height: 50px;
  padding: 10px;
  border-radius: 5px;
  background-color: #2a2c30;
  border: 1px solid rgba(0, 0, 0, 0.3);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  cursor: pointer;
  color: #b9bbbe;

  &:focus,
  &:hover {
      border-color: #b9bbbe;
  }
}

.dropdown-list {
  border-radius: 5px;
  background-color: #2a2c30;
  color: #b9bbbe;
  position: absolute;
  top: 110%;
  left: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.dropdown-list.disable {
  display: none;
}

.dropdown-list.disable .dropdown-select{
  background-color: #202225;
}

.dropdown-list__item {
  padding: 10px;
  font-size: 14px;
  cursor: pointer;
}

.dropdown-list__item:hover {
  background-color: #4768ff;
  color: white;
  border-radius: 5px;
}
