.login {
    background-color: $background-secondary;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    max-height: 70px;
}

.login-id {
    width: 40%;
    height: 50px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: 0 10px;
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.1);
    color: $interactive;

    &:focus {
        border-color: $primary;
    }
}

.login-btn {
    width: 30%;
    background-color: $primary;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 13px 20px;
    cursor: pointer;
}