.login {
    background-color: $background-secondary;
    width: 70%;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    max-height: 70px;
}

.login-id {
    width: 40%;
    height: 50px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: 0 10px;
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.1);
    color: $interactive;

    &:focus {
        border-color: $primary;
    }
}

.dropdown {
    width: 30%;
    position: relative;
}

.dropdown:hover .dropdown-list {
    opacity: 1;
    visibility: visible;
}

.dropdown-select {
    height: 50px;
    padding: 10px;
    border-radius: 5px;
    background-color: #2a2c30;
    border: 1px solid rgba(0, 0, 0, 0.3);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    cursor: pointer;
    color: $interactive;

    &:focus,
    &:hover {
        border-color: $primary;
    }
}

.dropdown-list {
    border-radius: 5px;
    background-color: #2a2c30;
    color: $interactive;
    position: absolute;
    top: 110%;
    left: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.dropdown-list__item {
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
}

.dropdown-list__item:hover {
    background-color: $primary;
    color: white;
    border-radius: 5px;
}

.login-btn {
    width: 30%;
    background-color: $primary;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 13px 20px;
    cursor: pointer;
}