*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  outline: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.tooltip {
  position: relative;
  cursor: pointer;
  display: inline-block;
}

.tooltip .tooltip-text {
  position: absolute;
  z-index: 10;
  visibility: hidden;
  border: none;
  border-radius: 5px;
  padding: 7px;
  word-wrap: break-word;
  text-align: center;
}

.tooltip .tooltip-text.black {
  background-color: black;
  color: white;
  --tooltip-arrow-color: black;
}

.tooltip .tooltip-text.blue {
  background-color: #7688d4;
  color: white;
  --tooltip-arrow-color: #7688d4;
}

.tooltip .tooltip-text.top {
  width: fit-content;
  bottom: 150%;
  margin-left: -75%;
}

.tooltip .tooltip-text.bottom {
  width: fit-content;
  top: 150%;
  margin-left: -75%;
}

.tooltip .tooltip-text.left {
  top: -5px;
  right: 110%;
}

.tooltip .tooltip-text.right {
  max-width: 500px;
  top: -5px;
  left: 110%;
}

.tooltip .tooltip-text.top::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--tooltip-arrow-color) transparent transparent transparent;
}

.tooltip .tooltip-text.bottom::after {
  content: " ";
  position: absolute;
  bottom: 100%;
  /* At the top of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent var(--tooltip-arrow-color) transparent;
}

.tooltip .tooltip-text.left::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 100%;
  /* To the right of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent var(--tooltip-arrow-color);
}

.tooltip .tooltip-text.right::after {
  content: " ";
  position: absolute;
  top: 30%;
  right: 100%;
  /* To the left of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent var(--tooltip-arrow-color) transparent transparent;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
  animation-name: openTooltip;
  animation-duration: 250ms;
  animation-fill-mode: linear;
}

@keyframes openTooltip {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.icon-question {
  color: #b9bbbe;
  margin-right: 10px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #2e3338;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #202225;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #202225;
}

.dropdown {
  width: 30%;
  position: relative;
}

.dropdown:hover .dropdown-list {
  opacity: 1;
  visibility: visible;
}

.dropdown-select {
  height: 50px;
  padding: 10px;
  border-radius: 5px;
  background-color: #2a2c30;
  border: 1px solid rgba(0, 0, 0, 0.3);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  cursor: pointer;
  color: #b9bbbe;
}
.dropdown-select:focus, .dropdown-select:hover {
  border-color: #b9bbbe;
}

.dropdown-list {
  border-radius: 5px;
  background-color: #2a2c30;
  color: #b9bbbe;
  position: absolute;
  top: 110%;
  left: 0;
  right: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.dropdown-list.disable {
  display: none;
}

.dropdown-list.disable .dropdown-select {
  background-color: #202225;
}

.dropdown-list__item {
  padding: 10px;
  font-size: 14px;
  cursor: pointer;
}

.dropdown-list__item:hover {
  background-color: #4768ff;
  color: white;
  border-radius: 5px;
}

.overlay {
  position: absolute;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  position: fixed;
}

.btn {
  background-color: #4768ff;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
}

.modal {
  position: absolute;
  z-index: 30;
  background-color: #2f3136;
  min-width: 700px;
  height: 500px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
}

.modal__control {
  position: relative;
  background-color: #dbdbdb;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__control__bar {
  position: absolute;
  left: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.modal__control__close {
  background-color: #ff6059;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #ff6059;
  font-size: 10px;
}
.modal__control__close:hover .modal__control__close__icon {
  color: white;
}

.modal__control__yellow {
  background-color: #ffca2e;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.modal__control__green {
  background-color: #28c941;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.modal__control__content {
  color: #b9bbbe;
  padding: 20px;
}

.root {
  background-color: rgb(54, 57, 63);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: auto;
}

.container {
  width: 90vw;
  height: 85vh;
}

.main {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

.login-setting {
  width: 70%;
}

.saved {
  background-color: #2f3136;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.profile-control {
  display: flex;
}

.profile-list {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}

.profile {
  background-color: #97cdfc;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  cursor: pointer;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  position: relative;
}

.profile.active::after {
  content: "";
  position: absolute;
  background-color: #b9bbbe;
  width: 30px;
  height: 5px;
  bottom: -10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.profile-plus {
  margin-left: 10px;
}

.profile-edit {
  display: flex;
  margin-left: auto;
  gap: 10px;
}

.save-profile {
  color: white;
  font-weight: 500;
  background-color: #38e654;
  padding: 10px 30px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.del-profile {
  color: white;
  font-weight: 500;
  background-color: #ff3a3b;
  padding: 10px 30px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.login {
  background-color: #2f3136;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  max-height: 70px;
}

.login-id {
  width: 40%;
  height: 50px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 0 10px;
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0.1);
  color: #b9bbbe;
}
.login-id:focus {
  border-color: #4768ff;
}

.login-btn {
  width: 30%;
  background-color: #4768ff;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 13px 20px;
  cursor: pointer;
}

.preview {
  width: 30%;
  background-color: #18191c;
  min-height: 625px;
  height: 100%;
  border-radius: 10px;
}

.preview-thum-avt {
  position: relative;
}

.preview-thum {
  background-color: #4768ff;
  width: 100%;
  height: 90px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.preview-avt img {
  position: absolute;
  width: 120px;
  border-radius: 50%;
  top: 30%;
  left: 4%;
  border: 10px solid #18191c;
}

.preview-flag-tooltip {
  position: relative;
  cursor: pointer;
}

.preview-flag-tooltip .preview-flag-tooltip__text {
  position: absolute;
  z-index: 1;
  visibility: hidden;
  border: none;
  border-radius: 5px;
  padding: 7px;
  white-space: nowrap;
  text-align: center;
}

.preview-flag-tooltip .preview-flag-tooltip__text .black {
  background-color: black;
  color: white;
  --tooltip-arrow-color: black;
}

.preview-flag-tooltip .preview-flag-tooltip__text.blue {
  background-color: #7688d4;
  color: white;
  --tooltip-arrow-color: #7688d4;
}

.preview-flag-tooltip .preview-flag-tooltip__text.top {
  width: fit-content;
  bottom: 105%;
  margin-left: -285%;
}

.preview-flag-tooltip .preview-flag-tooltip__text.top::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--tooltip-arrow-color) transparent transparent transparent;
}

.preview-flag-tooltip:hover .preview-flag-tooltip__text {
  visibility: visible;
  animation-name: openTooltip;
  animation-duration: 250ms;
  animation-fill-mode: linear;
}

@keyframes openTooltip {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.preview-flag {
  float: right;
  padding: 12px 24px;
}

.preview-info {
  margin-top: 60px;
  margin-left: 24px;
}

.preview-name {
  font-weight: 600;
  display: flex;
  color: #b9bbbe;
  font-size: 28px;
}

.preview-username {
  color: white;
}

.preview-harizontal {
  margin-top: 10px;
  position: relative;
  height: 1px;
  width: calc(100% - 48px);
  background-color: #4f545c;
  left: 50%;
  transform: translateX(-50%);
}

.preview-rpc {
  margin-top: 15px;
  color: #b9bbbe;
  padding: 0 24px;
}

.preview-rpc-title {
  text-transform: uppercase;
  font-weight: 700;
}

.preview-rpc-content {
  margin-top: 15px;
}

.rpc-main {
  display: flex;
  gap: 30px;
}

.rpc-image {
  position: relative;
}

.rpc-img-large {
  position: relative;
  cursor: pointer;
}

.rpc-img-large .rpc-image-large-text {
  position: absolute;
  z-index: 1;
  visibility: hidden;
  border: none;
  border-radius: 5px;
  padding: 7px;
  white-space: nowrap;
  text-align: center;
}

.rpc-img-large .rpc-image-large-text .black {
  background-color: black;
  color: white;
  --tooltip-arrow-color: black;
}

.rpc-img-large .rpc-image-large-text.blue {
  background-color: #7688d4;
  color: white;
  --tooltip-arrow-color: #7688d4;
}

.rpc-img-large .rpc-image-large-text.top {
  width: fit-content;
  bottom: 90%;
  margin-left: -65%;
}

.rpc-img-large .rpc-image-large-text.top::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--tooltip-arrow-color) transparent transparent transparent;
}

.rpc-img-large:hover .rpc-image-large-text {
  visibility: visible;
  animation-name: openTooltip;
  animation-duration: 250ms;
  animation-fill-mode: linear;
}

@keyframes openTooltip {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.rpc-image-large {
  width: 80px;
  height: 80px;
  image-resolution: contain;
  background-size: cover;
  object-fit: cover;
  border-radius: 12px;
}

.rpc-img-small {
  position: relative;
  cursor: pointer;
}

.rpc-img-small .rpc-image-small-text {
  position: absolute;
  z-index: 1;
  visibility: hidden;
  border: none;
  border-radius: 5px;
  padding: 7px;
  white-space: nowrap;
  text-align: center;
}

.rpc-img-small .rpc-image-small-text.black {
  background-color: black;
  color: white;
  --tooltip-arrow-color: black;
}

.rpc-img-small .rpc-image-small-text.blue {
  background-color: #7688d4;
  color: white;
  --tooltip-arrow-color: #7688d4;
}

.rpc-img-small .rpc-image-small-text.top {
  width: fit-content;
  bottom: 90%;
  margin-left: -5%;
}

.rpc-img-small .rpc-image-small-text.top::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--tooltip-arrow-color) transparent transparent transparent;
}

.rpc-img-small .rpc-image-small-text.bottom {
  width: fit-content;
  top: 250%;
  margin-left: -5%;
}

.rpc-img-small .rpc-image-small-text.bottom::after {
  content: " ";
  position: absolute;
  bottom: 100%;
  /* At the top of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent var(--tooltip-arrow-color) transparent;
}

.rpc-img-small:hover .rpc-image-small-text {
  visibility: visible;
  animation-name: openTooltip;
  animation-duration: 250ms;
  animation-fill-mode: linear;
}

.rpc-image-small {
  width: 30px;
  height: 30px;
  image-resolution: contain;
  background-size: cover;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #18191c;
  position: absolute;
  bottom: -7px;
  left: 60px;
}

.rpc-content-1 {
  font-weight: 600;
  font-size: 17px;
}

.rpc-content-2,
.rpc-content-3,
.rpc-content-4 {
  font-size: 15px;
}

.rpc-button {
  margin-top: 15px;
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.rpc-btn-1,
.rpc-btn-2 {
  width: 100%;
  background-color: #2f3136;
  color: #b9bbbe;
  border-radius: 5px;
  border: none;
  outline: none;
  padding: 10px;
  transition: all 0.3s ease-in-out;
}
.rpc-btn-1:hover,
.rpc-btn-2:hover {
  background-color: rgba(79, 84, 92, 0.1607843137);
}
.rpc-btn-1.hidden,
.rpc-btn-2.hidden {
  opacity: 0;
}

.preview-rpc-button {
  margin-top: 30px;
  display: flex;
  gap: 10px;
}

.launch-rpc-btn,
.stop-rpc-btn {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  color: white;
}

.launch-rpc-btn {
  background-color: #38e654;
}

.stop-rpc-btn {
  background-color: #ff3a3b;
}

.preview-rpc-bar {
  margin-top: 15px;
  border-radius: 5px;
  background-color: #2f3136;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.preview-rpc-set-list {
  display: flex;
  gap: 30px;
  align-items: center;
}

.icon-rpc-preview {
  color: #b9bbbe;
  font-size: 18px;
}
.icon-rpc-preview:hover {
  color: #dcddde;
}

.setting {
  margin-top: 10px;
  background-color: #2f3136;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  max-height: 545px;
  overflow-y: auto;
  overflow-x: hidden;
}

.setting label {
  color: #b9bbbe;
}

.setting input[type=text],
.setting input[type=number],
.setting input[type=datetime-local],
.setting input[type=url] {
  height: 50px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 0 10px;
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0.1);
  color: #b9bbbe;
}
.setting input[type=text]:focus,
.setting input[type=number]:focus,
.setting input[type=datetime-local]:focus,
.setting input[type=url]:focus {
  border-color: #4768ff;
}

.setting-details {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.setting-details label {
  padding-right: 10px;
}

.setting-details-input {
  width: 100%;
}

.setting-state-party {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
}

.setting-state {
  width: 50%;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.setting-state label {
  padding-right: 21px;
}

.setting-state-input {
  width: calc(100% - 65px);
}

.setting-party {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 50%;
}

.Party-1,
.Party-2 {
  width: 50%;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.Party-1 label,
.Party-2 label {
  padding-right: 12px;
}

.Party-input-1,
.Party-input-2 {
  width: 100%;
}

.setting-large-image-url,
.setting-large-image-text {
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  align-items: center;
}

.setting-large-image-url label,
.setting-large-image-text label {
  padding-right: 10px;
}

.setting-large-image-url-input,
.setting-large-image-text-input {
  width: 100%;
}

.setting-small-image-url,
.setting-small-image-text {
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  align-items: center;
}

.setting-small-image-url label,
.setting-small-image-text label {
  padding-right: 10px;
}

.setting-small-image-url-input,
.setting-small-image-text-input {
  width: 100%;
}

.setting-profile {
  padding-bottom: 10px;
  width: 100%;
  display: flex;
  align-items: center;
}

.setting-profile label {
  padding-right: 10px;
}

.setting-profile input {
  width: 100%;
}

.switch {
  position: relative;
  cursor: pointer;
  width: 4rem;
  height: 2rem;
  display: block;
  margin: 0 auto;
  overflow: hidden;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  background: #000;
  border-radius: 100rem;
  transition: background-color 0.25s linear;
}

.switch:after {
  content: "";
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 4rem;
  background-color: #fff;
  top: 4px;
  left: 5px;
  transition: background-color 0.25s linear, transform 0.25s linear;
}

.switch-input {
  display: none;
}

.switch-input:checked + .switch {
  background-color: #6a5af9;
}

.switch-input:checked + .switch:after {
  transform: translateX(2rem);
  background-color: white;
}

.setting-btn-onoff {
  margin-top: 20px;
  color: #b9bbbe;
  display: flex;
  align-items: center;
  gap: 20px;
}

.setting-btn-1-url-text {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 10px;
  width: 100%;
}

.setting-btn-1-url label,
.setting-btn-1-text label {
  padding-right: 10px;
}

.setting-btn-1-url,
.setting-btn-1-text {
  width: 50%;
  display: flex;
  align-items: center;
}

.setting-btn-1-url input,
.setting-btn-1-text input {
  width: 100%;
}

.setting-btn-2-url-text {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 10px;
  width: 100%;
}

.setting-btn-2-url label,
.setting-btn-2-text label {
  padding-right: 10px;
}

.setting-btn-2-url,
.setting-btn-2-text {
  width: 50%;
  display: flex;
  align-items: center;
}

.setting-btn-2-url input,
.setting-btn-2-text input {
  width: 100%;
}

.setting-timestamp-title {
  margin-top: 10px;
  display: flex;
  align-items: center;
  color: #b9bbbe;
  gap: 10px;
}

.setting-timestamp-main {
  padding-bottom: 20px;
}

.setting-name-appID {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
  width: 100%;
}

.setting-appID,
.setting-name {
  width: 50%;
  display: flex;
  align-items: center;
}

.setting-appID label,
.setting-name label {
  margin-right: 10px;
}

.setting-appID input,
.setting-name input {
  width: 100%;
}

.setting-timestamp-main {
  margin-top: 10px;
}

.dropdown-timestamp {
  margin-bottom: 10px;
}

.root {
  position: relative;
}

.modal__setting {
  position: absolute;
  z-index: 30;
  background-color: #2f3136;
  min-width: 700px;
  height: 500px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
}

.modal__control {
  position: relative;
  background-color: #dbdbdb;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__control__bar {
  position: absolute;
  left: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.modal__control__close {
  background-color: #ff6059;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #ff6059;
  font-size: 10px;
}
.modal__control__close:hover .modal__control__close__icon {
  color: white;
}

.modal__control__yellow {
  background-color: #ffca2e;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.modal__control__green {
  background-color: #28c941;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.modal__control__content {
  color: #b9bbbe;
  padding: 20px;
}

.modal__control__content__languague {
  display: flex;
  align-items: center;
  gap: 20px;
}

.modal__control__content__update {
  display: flex;
  align-items: center;
  gap: 20px;
}

.modal__control__save {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.modal__github__content {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.github-hongduc {
  text-align: center;
}
.github-hongduc img {
  width: 200px;
  height: 200px;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  margin-bottom: 20px;
}
.github-hongduc a {
  color: white;
  font-weight: 600;
  font-size: 24px;
}
.github-hongduc a:hover {
  text-decoration: underline;
}

.github-shiraori {
  text-align: center;
}
.github-shiraori img {
  width: 200px;
  height: 200px;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  margin-bottom: 20px;
}
.github-shiraori a {
  color: white;
  font-weight: 600;
  font-size: 24px;
}
.github-shiraori a:hover {
  text-decoration: underline;
}

.modal__discord__content {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.discord-hongduc {
  text-align: center;
}
.discord-hongduc img {
  width: 200px;
  height: 200px;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  margin-bottom: 20px;
}
.discord-hongduc a {
  color: white;
  font-weight: 600;
  font-size: 24px;
}
.discord-hongduc a:hover {
  text-decoration: underline;
}

.discord-shiraori {
  text-align: center;
}
.discord-shiraori img {
  width: 200px;
  height: 200px;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  margin-bottom: 20px;
}
.discord-shiraori a {
  color: white;
  font-weight: 600;
  font-size: 24px;
}
.discord-shiraori a:hover {
  text-decoration: underline;
}

.check__updated {
  position: absolute;
  width: 400px;
  height: 100px;
  background-color: #38e654;
  top: 30px;
  right: 30px;
  border-radius: 15px;
  color: white;
}

.check__updated__content {
  position: absolute;
  top: 50%;
  left: 35%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  gap: 10px;
}

.check__update {
  position: absolute;
  width: 400px;
  height: 100px;
  background-color: #ff3a3b;
  top: 30px;
  right: 30px;
  border-radius: 15px;
  color: white;
}

.check__update__content {
  position: absolute;
  top: 50%;
  left: 35%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  gap: 10px;
}

/*# sourceMappingURL=index.css.map */
