@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-primary;
  -webkit-app-region: drag;
}

/* @layer components {
  .tooltip-arrow {
    @apply absolute w-0 h-0 -bottom-[5px] right-[10px] border-left-[6px] border-right-[6px] border-transparent border-top-[6px] border-top-ctp-surface0;
  }
} */

/* width */
::-webkit-scrollbar {
  @apply w-2 rounded-lg;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-ctp-surface0 rounded-lg;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-ctp-flamingo rounded-lg;
}

.drag {
  -webkit-app-region: drag;
}

.not-drag {
  -webkit-app-region: no-drag;
}