.root {
    background-color: rgb(54, 57, 63);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: auto;
}

.container {
    width: 90vw;
    height: 85vh;
    // background: #000;
}

.main {
    margin-top: 10px;
    display: flex;
    gap: 10px;
}

.login-setting {
    width: 70%;
}