.saved {
    background-color: $background-secondary;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    // justify-content: space-between;
    align-items: center;
}

.profile-control {
    display: flex;
}

.profile-list {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

.profile {
    background-color: #97cdfc;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.profile-plus {
    margin-left: 10px;
}

.profile-edit {
    display: flex;
    margin-left: auto;
    gap: 10px;
}

.save-profile {
    color: white;
    font-weight: 500;
    background-color: $success;
    padding: 10px 30px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.del-profile {
    color: white;
    font-weight: 500;
    background-color: $danger;
    padding: 10px 30px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}