$primary: #4768ff;
$primary-shade: #5c6fb1;
$primary-hover: rgba(71, 104, 255, 0.1);
$primary-active: #4e5d94;
$secondary: #747f8d;
$secondary-hover: rgba(116, 127, 141, 0.1);
$success: #38e654;
$success-hover: rgba(56, 230, 84, 0.1);
$danger: #ff3a3b;
$danger-hover: rgba(255, 58, 59, 0.1);
$warning: #faa61a;
$warning-hover: rgba(250, 166, 26, 0.1);
$background-primary: #36393f;
$background-secondary: #2f3136;
$background-tertiary: #202225;
$background-shade: #4f545c;
$background-floating: #18191c;
$background-inactive: #72767c;
$background-hover: #4f545c29;
$background-active: #50535b;
$interactive: #b9bbbe;
$interactive-hover: #dcddde;
$background-modal: #484c52;
$element-margin: 8px;
$elevation-low: 0 1px 0 rgba(4, 4, 5, 0.2), 0 1.5px 0 rgba(6, 6, 7, 0.05),
  0 2px 0 rgba(4, 4, 5, 0.05);
$elevation-medium: 0 4px 4px rgba(0, 0, 0, 0.16);
$elevation-high: 0 8px 16px rgba(0, 0, 0, 0.24);
